#razoes {
    margin: 180px auto auto auto;
    display: flex;
    justify-content: space-between;
    width: 1585px;
}
#razoes img {
    width: 500px;
    height: 583px;
}
#razoes div {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#span2 {
    color: rgb(65, 212, 201);
}
#span3 {
    color: #325b9c;
}
#span4 {
    color: #0093fd;
}
#razoes span {
    font-weight: 500;
}
#razoes h1 {
    font-weight: 500;
    font-size: 48px;
}
#razoes h6 {
    font-size: 20px;
    font-weight: 300;
}

@media (max-width: 1585px) {
    #razoes {
        margin: 180px 0px 0px 0px;
        width: 100%;
        display: flex;
    }
    #razoes img {
        
    }
}

@media (max-width: 875px) {
    #razoes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    #razoes img {
    
    }
}